$crna: black;
$plava_svetla: #497ddf;
$plava: #98b9f2;
$plava_tamna: #1f2e91;
$tt_plava_svetla: #1b2944;
$tt_plava: #536686;
$tt_plava_tamna: #1f1f22;

.crna {
    background-color: $crna;
}
.crna-txt {
    color: $crna;
}
.plava_svetla {
    background-color: $plava_svetla;
}
.plava_svetla-txt {
    color: $plava_svetla;
}
.plava {
    background-color: $plava;
}
.plava-txt {
    color: $plava;
}
.plava_tamna {
    background-color: $plava_tamna;
}
.plava_tamna-txt {
    color: $plava_tamna;
}
.tt_plava_svetla {
    background-color: $tt_plava_svetla;
}
.tt_plava_svetla-txt {
    color: $tt_plava_svetla;
}
.tt_plava {
    background-color: $tt_plava;
}
.tt_plava-txt {
    color: $tt_plava;
}
.tt_plava_tamna {
    background-color: $tt_plava_tamna;
}
.tt_plava_tamna-txt {
    color: $tt_plava_tamna;
}
